[Desktop Entry]
Name=PhpStorm
GenericName=JetBrains PhpStorm
Exec=phpstorm
Terminal=false
Icon=/opt/jetbrains/phpstorm/bin/phpstorm.png
Type=Application
Categories=Development;IDE;
Version=2017.3.6
