Package: PhpStorm
Version: 2018.1.1
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Alek Wyka <aks@cuphalfempty.net>
Description: Jetbrains PhpStorm
  Wrapper for PhpStorm
  https://www.jetbrains.com/phpstorm/
